*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}
body{
    background: linear-gradient(to right, #00AAFF, #ff000000);
}
#table-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    border: 1px solid white;
}
input[type="button"] {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: none;
    background: linear-gradient(to right, #00AAFF, #00AAFf);
    text-align: center;
    padding: 15px;
    transition: 0.2s ease-in-out;
}
input[type="button"]:hover{  
    background: #fff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
input[type="text"] {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 35px;
    height: 71px;
    width: 330px;
    position: relative;
    text-align: right;
}